.wrapper{ 
    max-width: $wrapper-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 16px auto; 

    &--header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto; 

        @media screen and (max-width: $mobile){
            flex-direction: column;
        }
    }
}

.container{
    width: calc(100% - 32px);
    padding: 0 16px;
    
    @media screen and (max-width:$tablet){
        flex-direction: column;
    }

    @media screen and (max-width:$mobile){
        width: calc(100% - 16px);
        padding: 0 8px;
    }

    &__principal{
        width:100%;
        margin-right: 16px;
    }

    &__title{
        font-size: 32px;
        font-weight:bold;
        text-align: center;
        margin: 16px 16px 32px;
    }
}

nav{
    margin: 0 auto;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    padding:8px 16px;
    border-bottom: solid 1px $border-light;

    &__item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align:center;

        @media screen and (max-width:$mobile){
            flex-direction: column;
        }
    }

    &:last-child{
        border: 0;
    }

    &__id{
        width:auto;
        padding: 8px;

        @media screen and (max-width: $mobile){
            display: none;
        }
    }
    &__name{
        font-size: 16px;
        text-align: left;
        padding: 8px;

        &--center{
            font-size: 38px;
            text-align: center;
            padding: 16px 8px;
            font-weight: bold;
        }

        @media screen and (max-width: $mobile){
            text-align: center;
            padding: 0 8px 8px;
        }
    }    

    &__details{
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $mobile){
            flex-direction: column;
            text-align: center;
        }
    }

    &__img-wrapper{
        max-width: 300px;
        width: 100%;
        margin-right: 16px;

        @media screen and (max-width: $mobile){
            max-width: 100%;
        }
    }

    &__img{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        display:block;
    }
}

.results{
    padding: 16px;
    margin: 16px 0;
    font-size: 38px;
    text-align:center;

    &__text{
        font-size: 38px;
        
        span{
            font-size: 38px;
        }
    }

    &__number{   
        font-weight: bold;
    }
}