$wrapper-width: 1120px;
$radius: 5px;
$font-size-basic: 14px;
$transition-time: 0.3s;

$mobile: 420px;
$tablet: 600px;

$primary-color: #f85453;
$secondary-color: #161616;

$text-color: #161616;
$white: #fff;

$border: #161616;
$border-light: #d9d9d9;
$grey-light: #d9d9d9;

$err: #f02d00;
$success: #52ab43;